<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZeroOne APIs | About</title>
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/996447135547539478/1004679216316559410/logo_1.png"/>  
    <link href="css/about.css" rel="stylesheet">
    <!-- Disabled Right Click -->
    <script>
        document.addEventListener("contextmenu", function(e){
            e.preventDefault();
        }, false)
    </script>
    <!-- Disabled Shortcut Code -->
    <script>
        document.addEventListener("keydown", function(e){
            if (e.ctrlKey || e.keyCode==123) {
                e.stopPropagation();
                e.preventDefault();
            }
        });
    </script>
</head>
<body>
    <div class="card">
        <div class="avatar">
          <img src="https://avatars.githubusercontent.com/u/93582939?v=4">
        </div>
        <div class="title">
          <h2>Bintang 1302</h2>
        </div>
        <div class="description">
          nothing
        </div>
        <div class="social">
          <ul>
            <a href="https://instagram.com/bintang_1302"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/bintang1302"><i class="fab fa-github"></i></a>
          </ul>
        </div>
      </div>
</body>
</html>