<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Free Rest Api Dowloader search random gambar maker dan lain ya">
    <meta name="author" content="Alip">
    <meta property="og:image" content="https://media.discordapp.net/attachments/996447135547539478/1004679216316559410/logo_1.png">
    <title>ZeroOne API │ Docs</title>
    <script src="https://kit.fontawesome.com/5367cb78eb.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/996447135547539478/1004679216316559410/logo_1.png"/> 
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/default.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Disabled Right Click -->
    <script>
        document.addEventListener("contextmenu", function(e){
            e.preventDefault();
        }, false)
    </script>
    <!-- Disabled Shortcut Code -->
    <script>
        document.addEventListener("keydown", function(e){
            if (e.ctrlKey || e.keyCode==123) {
                e.stopPropagation();
                e.preventDefault();
            }
        });
    </script>
</head>

<body id="page-top" class="dark-mode">
    <div id="wrapper">
   
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/docs">
                <img src="images/icon.png" class="rounded-circle shadow-4"style="width: 50px;" alt="Avatar" />
                <div class="sidebar-brand-text mx-3">ZeroOne API</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="/statistic">
                    <i class="fas fa-fw fa-thermometer-three-quarters"></i>
                    <span>Statistic</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Features
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class="fa fa-fw fa-arrow-down"></i>
                    <span>Downloader</span>
                </a>
                <div id="collapseDownload" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Downloader Features</h6>
                        <a class="collapse-item" href="api/dowloader/fbdown?url=" target="_blank">Facebook</a>
                        <a class="collapse-item" href="api/dowloader/twitter?url=" target="_blank">Twitter</a>
                        <a class="collapse-item" href="api/dowloader/tikok?url=" target="_blank">Tiktok Mp4 Mp3</a>
                        <a class="collapse-item" href="api/dowloader/igstory?username=" target="_blank">Instagram Story</a>
                        <a class="collapse-item" href="api/dowloader/igreels?url=" target="_blank">Instagram Reels</a>
                        <a class="collapse-item" href="api/dowloader/igdowloader?url=" target="_blank">Instagram Video Picture</a>
                        <a class="collapse-item" href="api/dowloader/yt?url=" target="_blank">Youtube Mp4 Mp3</a>
                        <a class="collapse-item" href="api/dowloader/soundcloud?url=" target="_blank">SoundCloud</a>
                        <a class="collapse-item" href="api/dowloader/telesticker?url=" target="_blank">Telegram Sticker</a>

                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTextPro" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-fw fa-font"></i>
                    <span>Text Pro</span>
                </a>
                <div id="collapseTextPro" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Text Pro Features</h6>
                        <a class="collapse-item" href="api/textpro/pencil?text=" target="_blank">Pencils</a>
                        <a class="collapse-item" href="api/textpro/glitch?text=" target="_blank">Glitch</a>
                        <a class="collapse-item" href="api/textpro/berry?text=" target="_blank">Berry</a>
                        <a class="collapse-item" href="api/textpro/blackpink?text=" target="_blank">Black pink</a>
                        <a class="collapse-item" href="api/textpro/neon?text=" target="_blank">Neon</a>
                        <a class="collapse-item" href="api/textpro/logobear?text=" target="_blank">Logo Bear</a>
                        <a class="collapse-item" href="api/textpro/3dchristmas?text=" target="_blank">3D Christmas</a>
                        <a class="collapse-item" href="api/textpro/thunder?text=" target="_blank">Thunder</a>
                        <a class="collapse-item" href="api/textpro/3dboxtext?text=" target="_blank">3D Box</a>
                        <a class="collapse-item" href="api/textpro/glitch2?text=&text2=Change To Your Text 2" target="_blank">Glitch2</a>
                        <a class="collapse-item" href="api/textpro/glitchtiktok?text=&text2=" target="_blank">Glitch Tiktok</a>
                        <a class="collapse-item" href="api/textpro/video-game-classic?text=&text2=" target="_blank">Video Game Classic</a>
                        <a class="collapse-item" href="api/textpro/marvel-studios?text=&text2=" target="_blank">Marvel Studios</a>
                        <a class="collapse-item" href="api/textpro/ninja-logo?text=&text2=" target="_blank">Ninja Logo</a>
                        <a class="collapse-item" href="api/textpro/transformer?text=" target="_blank">Transformer</a>
                        <a class="collapse-item" href="api/textpro/green-horror?text=" target="_blank">Green Horrorer</a>
                        <a class="collapse-item" href="api/textpro/magma?text=" target="_blank">Magma</a>
                        <a class="collapse-item" href="api/textpro/3d-neon-light?text=" target="_blank">3d Neon Light</a>
                        <a class="collapse-item" href="api/textpro/3d-orange-juice?text=" target="_blank">3d Orange Juice</a>
                        <a class="collapse-item" href="api/textpro/chocolate-cake?text=" target="_blank">Chocolate Cake</a>
                        <a class="collapse-item" href="api/textpro/strawberry?text=" target="_blank">Strawberry</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePhotooxy" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-fw fa-font"></i>
                    <span>Photooxy</span>
                </a>
                <div id="collapsePhotooxy" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Photooxy Features</h6>
                        <a class="collapse-item" href="api/photooxy/flaming?text=" target="_blank">Flaming</a>
                        <a class="collapse-item" href="api/photooxy/shadow-sky?text=" target="_blank">Shadow Sky</a>
                        <a class="collapse-item" href="api/photooxy/metallic?text=" target="_blank">Metallic</a>
                        <a class="collapse-item" href="api/photooxy/naruto?text=" target="_blank">Naruto</a>
                        <a class="collapse-item" href="api/photooxy/pubg?text=&text2=" target="_blank">PUBG</a>
                        <a class="collapse-item" href="api/photooxy/under-grass?text=" target="_blank">Under Grass</a>
                        <a class="collapse-item" href="api/photooxy/harry-potter?text=" target="_blank">Harry Potter</a>
                        <a class="collapse-item" href="api/photooxy/flower-typography?text=" target="_blank">Flower Typography</a>
                        <a class="collapse-item" href="api/photooxy/picture-of-love?text=" target="_blank">Picture Of Love</a>
                        <a class="collapse-item" href="api/photooxy/coffee-cup?text=" target="_blank">Coffee Cup</a>
                        <a class="collapse-item" href="api/photooxy/butterfly?text=" target="_blank">Butterfly</a>
                        <a class="collapse-item" href="api/photooxy/night-sky?text=" target="_blank">Night Sky</a>
                        <a class="collapse-item" href="api/photooxy/carved-wood?text=" target="_blank">Carved Wood</a>
                        <a class="collapse-item" href="api/photooxy/illuminated-metallic?text=" target="_blank">Illuminated Metallic</a>
                        <a class="collapse-item" href="api/photooxy/sweet-candy?text=" target="_blank">Sweet Candy</a>
                    </div>
                </div>
            </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRandomText" aria-expanded="true" aria-controls="collapseTable">
                        <i class="fa fa-fw fa-music"></i>
                        <span>Sound Of Text</span>
                    </a>
                    <div id="collapseRandomText" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                        <div class="py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Bahasa</h6>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=af-ZA">Afrikaans</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=sq">Albanian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=ar-AE">Arabic</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=hy">Armenian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=bn-BD">Bengali (Bangladesh)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=bn-IN">Bengali (India)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=bs">Bosnian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=my">Burmese (Myanmar)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=ca-ES">Catalan</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=cmn-Hant-TW">Chinese</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=hr-HR">Croatian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=cs-CZ">Czech</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=da-DK">Danish</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=nl-NL">Dutch</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=en-AU">English (Australia)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=en-GB">English (United Kingdom)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=en-US">English (United States)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=eo">Esperanto</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=et">Estonian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=fil-PH">Filipino</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=fi-FI">Finnish</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=fr-FR">French</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=fr-CA">French (Canada)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=de-DE">German</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=el-GR">Greek</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=gu">Gujarati</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=hi-IN">Hindi</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=hu-HU">Hungarian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=is-IS">Icelandic</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=id-ID">Indonesian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=it-IT">Italian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=ja-JP">Japanese (Japan)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=kn">Kannada</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=km">Khmer</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=ko-KR">Korean</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=la">Latin</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=lv">Latvian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=mk">Macedonian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=ml">Malayalam</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=mr">Marathi</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=ne">Nepali</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=nb-NO">Norwegian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=pl-PL">Polish</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=pt-BR">Portuguese</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=ro-RO">Romanian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=ru-RU">Russian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=sr-RS">Serbian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=si">Sinhala</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=sk-SK">Slovak</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=es-MX">Spanish (Mexico)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=es-ES">Spanish (Spain)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=sw">Swahili</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=sv-SE">Swedish</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=ta">Tamil</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=te">Telugu</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=th-TH">Thai</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=tr-TR">Turkish</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=uk-UA">Ukrainian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=ur">Urdu</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=vi-VN">Vietnamese</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=&lang=cy">Welsh</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseserch" aria-expanded="true" aria-controls="collapseTable">
                        <i class="fa fa-fw fa-search"></i>
                        <span>Search</span>
                    </a>
                    <div id="collapseserch" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                        <div class="py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Search Features</h6>
                            <a class="collapse-item" href="api/search/ytplay?text=" target="_blank">Yt Play</a>
                            <a class="collapse-item" href="api/search/linkgroupwa?text=" target="_blank">Group WA</a>
                            <a class="collapse-item" href="api/search/pinterest?text=" target="_blank">Pinterest</a>
                            <a class="collapse-item" href="api/search/ringtone?text=" target="_blank">Ringtone</a>
                            <a class="collapse-item" href="api/search/wikimedia?text=" target="_blank">Wikimedia</a>
                            <a class="collapse-item" href="api/search/google?text=" target="_blank">Google</a>
                            <a class="collapse-item" href="api/search/googleimage?text=" target="_blank">Google Image</a>
                            <a class="collapse-item" href="api/search/wallpaper?text=" target="_blank">Wallpaper</a>
                            <a class="collapse-item" href="api/search/sticker?text=" target="_blank">Sticker</a>

                        </div>
                    </div>
                </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapserandomimage" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-random"></i>
                    <span>Random Gambar</span>
                </a>
                <div id="collapserandomimage" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Random Gambar Features</h6>
                        <a class="collapse-item" href="api/randomgambar/couplepp" target="_blank">Couple pp</a>
                        <a class="collapse-item" href="api/randomgambar/dadu" target="_blank">Dadu</a>
                        <a class="collapse-item" href="api/randomgambar/coffee" target="_blank">Coffee</a>
                        <a class="collapse-item" href="api/randomgambar/cyberspace" target="_blank">Cyberspace</a>
                        <a class="collapse-item" href="api/randomgambar/game" target="_blank">Game</a>
                        <a class="collapse-item" href="api/randomgambar/islamic" target="_blank">Islamic</a>
                        <a class="collapse-item" href="api/randomgambar/mountain" target="_blank">Mountain</a>
                        <a class="collapse-item" href="api/randomgambar/programming" target="_blank">Programming</a>
                        <a class="collapse-item" href="api/randomgambar/technology" target="_blank">Technology</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsegame" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-gamepad"></i>
                    <span>Game</span>
                </a>
                <div id="collapsegame" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Game Features</h6>
                        <a class="collapse-item" target="_blank" href="api/game/tebakgambar">Tebak Gambar</a>
                        <a class="collapse-item" target="_blank" href="api/game/tebakbendera">Tebak Bendera</a>
                        <a class="collapse-item" target="_blank" href="api/game/tebaktebakan">Tebak Tebakan</a>
                        <a class="collapse-item" target="_blank" href="api/game/tebakjenaka">Tebak Jenaka</a>
                        <a class="collapse-item" target="_blank" href="api/game/tebakgame">Tebak Game</a>
                        <a class="collapse-item" target="_blank" href="api/game/tebakkata">Tebak Kata</a>
                        <a class="collapse-item" target="_blank" href="api/game/tebaklirik">Tebak Lirik</a>
                        <a class="collapse-item" target="_blank" href="api/game/tebaklagu">Tebak Lagu</a>
                        <a class="collapse-item" target="_blank" href="api/game/tebakkimia">Tebak Kimia</a>
                        <a class="collapse-item" target="_blank" href="api/game/caklontong">Cak Lontong</a>
                        <a class="collapse-item" target="_blank" href="api/game/susunkata">Susun Kata</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMaker" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-paint-brush"></i>
                    <span>Maker</span>
                </a>
                <div id="collapseMaker" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Image Manipulation</h6>
                        <a class="collapse-item" target="_blank" href="api/maker/circle?url=">Circle</a>
                        <a class="collapse-item" target="_blank" href="api/maker/beautiful?url=">Beautiful</a>
                        <a class="collapse-item" target="_blank" href="api/maker/blur?url=">Blur</a>
                        <a class="collapse-item" target="_blank" href="api/maker/darkness?url=&no=">Darkness</a>
                        <a class="collapse-item" target="_blank" href="api/maker/facepalm?url=">Facepalm</a>
                        <a class="collapse-item" target="_blank" href="api/maker/invert?url=">Invert</a>
                        <a class="collapse-item" target="_blank" href="api/maker/pixelate?url=&no=">Pixelate</a>
                        <a class="collapse-item" target="_blank" href="api/maker/rainbow?url=">Rainbow</a>
                        <a class="collapse-item" target="_blank" href="api/maker/resize?url=&width=&height=">Resize</a>
                        <a class="collapse-item" target="_blank" href="api/maker/trigger?url=">Trigger</a>
                        <a class="collapse-item" target="_blank" href="api/maker/wanted?url=">Wanted</a>


                        <h6 class="collapse-header">Maker Other</h6>
                        <a class="collapse-item" target="_blank" href="api/maker/attp?text=">ATTP</a>
                        <a class="collapse-item" target="_blank" href="api/maker/ttp?text=">TTP</a>
                        <a class="collapse-item" target="_blank" href="api/maker/emojimix?emoji1=😂&emoji2=🤢">Emojimix</a>
                        <a class="collapse-item" target="_blank" href="api/maker/welcome1?name=Change To Your Name&gpname=Change To Your Name Group&member=1&pp=https://media.discordapp.net/attachments/996447135547539478/1004679216316559410/logo_1.png&bg=https://media.discordapp.net/attachments/996447135547539478/1004683714481094707/images.jpeg">Welcome1</a>
                        <a class="collapse-item" target="_blank" href="api/maker/goodbye1?name=Change To Your Name&gpname=Change To Your Name Group&member=1&pp=https://media.discordapp.net/attachments/996447135547539478/1004679216316559410/logo_1.png&bg=https://media.discordapp.net/attachments/996447135547539478/1004683714481094707/images.jpeg">GoodBye1</a>
            </div>
                </div>
            </li>

            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapselink" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-link"></i>
                    <span>Link Short</span>
                </a>     
                <div id="collapselink" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Link Short</h6>
                        <a class="collapse-item" target="_blank" href="api/linkshort/tinyurl?link=">Tinyurl</a>
                        <a class="collapse-item" target="_blank" href="api/linkshort/tinyurlwithalias?link=/&alias=">Tinyurl With Alias</a>
                        <a class="collapse-item" target="_blank" href="api/linkshort/cuttly?link=">Cuttly</a>
                        <a class="collapse-item" target="_blank" href="api/linkshort/bitly?link=">Bitly</a>

                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePrimbon" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fab fa-fw fa-acquisitions-incorporated"></i>
                    <span>Information</span>
                </a>
                <div id="collapsePrimbon" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Information Features</h6>
            <a class="collapse-item" target="_blank" href="api/info/githubstalk?user=">Github Stalk</a>
            <a class="collapse-item" target="_blank" href="api/info/translate?text=&lang=">Translate</a>

            </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseremoji" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                    <span>Emoji</span>
                </a>
                <div id="collapseremoji" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Emoji Gambar Features</h6>
                        <a class="collapse-item" href="api/emoji/apple?emoji=" target="_blank">Apple Emoji</a>
                        <a class="collapse-item" href="api/emoji/google?emoji=" target="_blank">Google Emoji</a>
                        <a class="collapse-item" href="api/emoji/samsung?emoji=" target="_blank">Samsung Emoji</a>
                        <a class="collapse-item" href="api/emoji/microsoft?emoji=" target="_blank">Microsoft Emoji</a>
                        <a class="collapse-item" href="api/emoji/whatsapp?emoji=" target="_blank">WhatsApp Emoji</a>
                        <a class="collapse-item" href="api/emoji/twitter?emoji=" target="_blank">Twitter Emoji</a>
                        <a class="collapse-item" href="api/emoji/facebook?emoji=" target="_blank">Facebook Emoji</a>
                        <a class="collapse-item" href="api/emoji/skype?emoji=" target="_blank">Skype Emoji</a>

                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTools" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    <span>Tools</span>
                </a>
                <div id="collapseTools" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tools Features</h6>
            <a class="collapse-item" target="_blank" href="api/tools/ebase64?text=">Ebase</a>
            <a class="collapse-item" target="_blank" href="api/tools/debase64?text=">Debase</a>
            <a class="collapse-item" target="_blank" href="api/tools/ebinary?text=">Ebinary</a>
            <a class="collapse-item" target="_blank" href="api/tools/debinary?text=">Debinary</a>
            <a class="collapse-item" target="_blank" href="api/tools/ssweb?link=">SSWEB</a>
            <a class="collapse-item" target="_blank" href="api/tools/styletext?text=">Styletext</a>


            </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIslamic" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fab fa-fw fa-acquisitions-incorporated"></i>
                    <span>Islamic</span>
                </a>
                <div id="collapseIslamic" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Islam Masyaallah</h6>
                        <a class="collapse-item" target="_blank" href="api/islamic/surah?no=">Search Surah</a>                  
                        <a class="collapse-item" target="_blank" href="api/islamic/tafsirsurah?text=">Tafsir Surah</a>                  

                      </div>
                </div>
                </li>

            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Contact Me
            </div>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/bintang_1302">
                    <span><i class="fab fa-fw fa-github"></i> Github</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://instagram.com/bintang_1302">
                    <span><i class="fab fa-fw fa-instagram"></i> Instagram</span>
                </a>
            </li>
            <hr class="sidebar-divider">
        </ul>
 
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
            <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>
            <ul class="navbar-nav ml-auto">
              <div class="topbar-divider d-none d-sm-block"></div>
              <li class="nav-item dropdown no-arrow">
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-success badge-counter">2 </span>
              </a>
                 <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header bg-info-gradient">
                  INFO CENTER
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                      <div class="icon-circle bg-danger">
                        <i class="fa-solid fa-exclamation text-white"></i>
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">september 4, 2022</div>
                      <span style="font-size:14px;">New Minigame, /minigame(1-3)</span>
                    </div>
                  </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-danger">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">July 23, 2022</div>
                    <span style="font-size:14px;">ZeroOne API Release</span>
                  </div>
                </a>
              </div>
            </li>
            </ul>
                </nav>
                <div class="container-fluid" id="container-wrapper">
                    <div class="card h-50 mb-4">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col mr-2">
                                    <div class="text-md-left font-weight-bold mb-2 text-primary">ZeroOne API</div>
                                    <div class="text-sm-left mb-0 font-weight-bold">Hallo Selamat Datang Di ZeroOne API</div>
                                    <br/>
                                    <div class="text-sm-left mb-0 font-weight-bold">Silahkan digunakan dan tolong gunakan API dengan bijak</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-quote-right fa-2x text-primary"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Visitor</div>
                                            <div class="h5 mb-0 font-weight-bold" id="visitor">0</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-eye fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Battery</div>
                                            <span id="battery_level" class="h5 mb-0 font-weight-bold">Waiting... </span>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-battery-full" ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                         <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Road To Raya Haji</div>
                                            <div class="h5 mb-0 font-weight-bold" id="jadwaltime">Waiting... </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Jam</div>
                                            <div class="h5 mb-0 font-weight-bold" id="row-no-guttersalign-items-center">00:00:00</div>
                                            <div class="h5 mb-0 font-weight-bold" id="text-xsfont-weight-boldtext-uppercase-mb-1">Selamat Pagi</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="findipurl"> <a href="find-ip.net" ></a></div>

                <script defer src="https://api.find-ip.net/widget.js?width=220&bg=%23152232&border=%230e1824&textcol=%23d3d5f3&language=0&system=0&"></script>


                    <div class="Box mt-4">
                        <div class="Box-body p-4">
                          <div class="d-flex flex-justify-between">
                            <div class="text-mono text-small mb-3">
                            </div>
                          </div>
                         
                  
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            Someone want to donate me?
                            <p>
                                <a href="https://trakteer.id/bintang-flf-iw5qb/tip" class="btn btn-primary btn-sm mr-2" target="_blank"><i class="fa fa-fw fa-wallet"></i>&nbsp;Trakteer</a>
                                <a href="https://paypal.me/Bintang1302" class="btn btn-primary btn-sm ml-2" target="_blank"><i class="fab fa-fw fa-paypal"></i>&nbsp;Paypal</a>
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
             
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        Made with  <i class="fa fa-heart fa-beat"></i>  by
                        <a href="https://github.com/bintang1302" target="_blank" style="color: rgb(255, 234, 0);">Bintang 1302</a>
                        </span>
                    </div>
                </div>
            </footer>
       
        </div>
    </div>

    
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

          
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/ruang-admin.min.js"></script>
    <script src="js/menu.js"></script>
    

</body>

</html>